.aboutWrapper {
  max-width: 1440px;
  margin-inline: auto;
  padding-top: 42px;
  padding-left: 135px;
  padding-bottom: 140px;
}

.aboutHero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutText {
  width: 525px;
}

.aboutText > h2 {
  font-size: 54px;
  margin-bottom: 40px;
}

.aboutText > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.aboutSideImage {
  width: 705px;
  height: 609px;
  background-image: url("../../assets/images/about-side-Image.png");
}
